body{
	background: #ededed;
}
.tabela-paginas{
	max-width: 1000px;
	margin: 5% auto;
	background: #fff;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 3px #ccc;
}
caption{
	font-size: 1.6em;
	font-weight: bold;
	display: block;
}
.logout{
	float: right;
	margin: 15px;
}
.input{

	float: left;
	width: 100%;
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #666;
}
.btn-group{
	float: right;
}